@font-face {
  font-family:'RototoMono' ;
  src: url('./fonts/RobotoMono-Thin.ttf');
}
*{
  font-family:'Rototo','monospace' ;

}
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: rgb(90,91,98);
  background: linear-gradient(241deg, rgba(90,91,98,1) 38%, rgba(111,108,129,1) 55%, rgba(171,171,180,1) 81%);
}